<!--
@udt file/1.0
uuid: eom-udt-tpl-idx-e1f2a3b4
version: 0.1.0
tokens: 80
path: /.udt/templates/index.html
parent: /.udt
tags: [udt]
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Templates | UDT</title>
<link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
<nav><a href="../">← UDT</a> | <a href="../../">Home</a></nav>
<main>
<h1>UDT Templates</h1>
<ul class="files">
<li><a href="file.udt.json">file.udt.json</a></li>
<li><a href="directory.udt.json">directory.udt.json</a></li>
<li><a href="tag.udt.json">tag.udt.json</a></li>
<li><a href="instance.udt.json">instance.udt.json</a></li>
</ul>
</main>
</body>
</html>
